@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "_ManageLayout.cshtml";
}

<h3 class="account-header">@ViewBag.Title</h3>
<p class="sub-heading">Update your local account password.</p>
@using (Html.Elliptical().BeginForm(Model, new FormAttributes { Scope = "form", Service = "/Manage/ChangePassword", SuccessMessage = "Password Successfully Changed" }))
{
    
    @Html.Elliptical().EditorFor(Model, m => m.OldPassword, HtmlFormElement.Password)
    @Html.Elliptical().EditorFor(Model, m => m.NewPassword, HtmlFormElement.Password)
    @Html.Elliptical().EditorFor(Model, m => m.ConfirmPassword, HtmlFormElement.Password)
    @Html.Elliptical().Submit("Change Password")
}

